.Chart {
  border: 1px solid #191919;
  overflow: hidden;
  border-radius: 12px;
  // padding: 10px 40px 10px 0px;
  box-sizing: border-box;

  box-sizing: border-box;
  background: #191919;
  border-radius: 12px;
  // background-color: #fff;


  &__title {

  }

  &__content {
    border: 1px solid #f00000;
  }
}
