.HeadCell {
  width: fit-content;
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  &--active {
    background-color: green;
  }

  &--isClickable {
    cursor: pointer;
  }

  &--isClickable:hover {
    background-color: #948f8f;
  }
}
