.City {
  width: 100%;
  cursor: pointer;
  
  
  &:nth-child(2n + 1) {
    background-color: #313131;
  }
  
  &:nth-child(2n) {
    background-color: #191919;
  }


  
  & td:nth-child(1) {
    text-align: left;
  }

  & td:nth-child(2) {
    text-align: center;
  }

  & td:nth-child(3) {
    text-align: right;
  }

  & td:nth-child(4) {
    text-align: right;
  }

  & td:nth-child(5) {
    text-align: right;
  }

  & td:nth-child(6) {
    text-align: right;
  }
}

.City.City--selected {
    background-color: rgb(185, 214, 231);
    color: #191919;
  }

.City.City--current {
  color: #e2e2e2;
  background-color: rgb(8, 114, 23);
}
