.App {
  text-align: center;
  min-height: 100vh;
  font-size: 12px;
}

.App header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: start;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 20px;
}

.App__controls {
  margin-bottom: 20px;
  margin: 0 0 0 auto;
  flex-basis: 100%;
}

.App__chart {
  order: -1;
}

.App__table {
  flex: 1;
}

@media (min-width: 900px) {
  .App main {
    margin: 0 50px;
  }

  .App__chart {
    order: 0;
  }
}

@media (min-width: 1200px) {
  .App main {
    margin: 0 auto;
  }
}